body {
	background-color:black;
	color:white;
	font-family:'Roboto Condensed', sans-serif;
	text-align:center;
	font-size:3vw;
}

#header {
	min-height:100vh;
	background-color:rgb(6,47,49);
	background: url(images/balloons.jpg) no-repeat center center fixed;
	background-size:cover;
	display:flex;
	align-items:flex-end;
	text-align:left;
}

#header h1 {
	font-family:'Oswald',sans-serif;
	font-size:4vw;
	line-height:1.25;
	letter-spacing:4px;
}

#header p {
	font-family:'Oswald', sans-serif;
	font-size:2vw;
	line-height:1.25;
	letter-spacing:4px;
}

.letsTalk {
	color: white;
	background: rgba(0,0,0,0);
	border: solid 2px white;
	margin:35px;
}

#intro {    
	background-color: rgba(25,75,100,0.5);
    width: 100%;
    margin-bottom: 1%;
    text-shadow:1px 1px rgb(50,50,50);
    padding:1%;
}

button:hover {
	border-color: #346392;
	color: #346392;
}

a {
	color:white;
	text-decoration:none;
}

a:focus {
	text-decoration:none;
}

a:visited {
	color: white;
	background: rgba(0,0,0,0);
	border: solid 5px white;
}

.title {
	padding:20px;
}

#works {
	background-color:rgb(35, 57, 163);
	padding:5%;
}

#works img {
	margin-bottom:20px;
}

#tech {
	background-color:rgb(71, 20, 122);
}

#tech ul {
	list-style-type:none;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0;
}

#tech li {
	float:left;
	padding:4%;
}

i {
	font-size:4vw;
}

#contactInfo {
	background-color:rgb(39,129,132);
	min-height:500px;
	font-size:2vw;
}

#contactInfo p {
	margin:10px;
}

#contactInfo a {
	text-decoration:underline;
}

#footer {
	font-size:1vw;
}
