body {
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	text-align: center;
	font-size: 100%;
	background-image: url(/assets/images/crossword.png);
	background-color: $bgwhite;
	color: $fontpurple;
	overflow-x: hidden;
}

/* micro clear fix */
.grouping: before,
.grouping: after {
	content: " ";
	display: table;
}

.grouping: after {
	clear: both;
}

