.intro {
	position: relative;
	overflow: hidden;
	max-height: 100vh;
	padding-top: 0;

	&__image {
		max-width: 100%;
		height: auto;
	}

	&__menu {
		background-color: transparent;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1%;
		border: none;
		font-family: inherit;
		color: $bgwhite;
		font-weight: 700;
		font-size: 4vw;
	}

	&__menu--open {
		background-color: $bggray;
		color: $fontpurple;
	}

	&__text-content {
		width: 100%;
		background-color: rgba(104, 106, 130, 0.7);
		font-family: 'Oswald', Helvetica, sans-serif;
		color: $bgwhite;
		text-align: right;
		text-shadow: 1px 1px 1px gray;
		position: absolute;
		bottom: 5%;
		right: 0;
	}

	&__title {
		font-size: 7.5vw;
		margin: 1% auto;
		padding-right: 1%;
		font-weight: 400;
	}

	&__title--lg {
		font-size: 10vw;
		margin: 1% auto;
		padding: 10% 1% 0 0;
	}

	&__subtitle {
		font-size: 4vw;
		margin: 1% auto;
		padding-right: 1%;
	}
}

@media screen and (min-width: 700px) {
	.intro__title--lg {
		font-size: 7vw;
	}

	.intro__menu {
		font-size: 3vw;
	}
}

@media screen and (min-width: 950px) {
	.intro__menu {
		font-size: 2vw;
	}
}