.links {
	display: block;
	text-decoration: none;
	color: $fontpurple;
	text-shadow: none;
	
	&--btn {
		overflow-x: hidden;
		box-sizing: border-box;
		margin: 1.5% auto;
		padding: 1.5% 1%;
		cursor: pointer;
		color: $bgwhite;
		text-align: center;
	}

	&--cta {
		background-color: $fontpurple;
		border: 1px solid $bgwhite;
		width: 50%;
	}

	&--icon {
		display: inline-block;
		margin: 0 auto;
		padding: 1%;
	}

	&--icon:hover {
		transform: scale(1.3, 1.3);
	}

	&--white {
		color: $bgwhite;
	}

	&--send {
		background-color: $brightblue;
		border: none;
		width: 100%;
		margin: 0 auto;
	}
}


@media screen and (min-width: 700px) {
	.links--icon {
		font-size: 1.3em;
	}

	.links--cta {
		width: 33%;
	}
}

@media screen and (min-width: 950px) {
	.links--icon {
		font-size: 1.6em;
	}

	.links--cta {
		font-size: 1.3em;
	}
}

@media screen and (min-width: 1200px) {
	.links--icon {
		font-size: 2em;
	}

	.links--cta {
		font-size: 2em;
	}
}