.nav {
	background-color: $bggray;
	color: $fontpurple;
	overflow: hidden;
	height: 0;
	width: 100%;

	&__list {
		list-style: none;
		padding: 1.5%;
		margin: 0 auto;
	}

	&__hr {
		width: 20%;
	}

	&__link {
		text-decoration: none;
		color: $fontpurple;
		font-weight: 700;
		display: block;
	}

	&__open {
		animation: slideDown 0.2s linear;
		height: auto;
	}

}

@keyframes slideDown {
	0% {transform: translateY(-100%); opacity: 0;}
	100% {transform: translateY(0%); opacity: 1;}
}

@media screen and (min-width: 950px) {
	.nav__item {
		font-size: 1.5em;
	}
}
